Repository rylorin/portfolio-manager-nodebot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint --fix, prettier --write

DataTable bug fix
  src/app/components/Portfolio/Report/DataTable.tsx
  src/app/components/Portfolio/Report/DividendsDetails.tsx
  src/app/components/Portfolio/Report/FeesDetails.tsx
  src/app/components/Portfolio/Report/InterestsDetails.tsx
  src/app/components/Portfolio/Report/OtherDetails.tsx
  src/app/components/Portfolio/Report/PnLsDetails.tsx
  src/app/globals.css
Due: eslint --cache, stylelint --fix, prettier --write

Accordion PP export view
  package.json
  src/app/components/Portfolio/Statement/StatementsExport.tsx
  src/app/components/Portfolio/Trade/TradeShow.tsx
  src/bots/trader.bot.ts
  yarn.lock
Due: eslint --cache, prettier --write

Switched to Lucide icons
  .github/workflows/build.yml
  .github/workflows/check.yml
  package.json
  src/app/components/Layout/NavBar.tsx
  src/app/components/Portfolio/Balance/BalanceEdit.tsx
  src/app/components/Portfolio/Balance/BalanceShow.tsx
  src/app/components/Portfolio/Balance/BalancesIndex.tsx
  src/app/components/Portfolio/Order/OrdersIndex.tsx
  src/app/components/Portfolio/Portfolio/PortfolioEdit.tsx
  src/app/components/Portfolio/Portfolio/PortfolioShow.tsx
  src/app/components/Portfolio/PortfolioIndex.tsx
  src/app/components/Portfolio/Position/OptionRow.tsx
  src/app/components/Portfolio/Position/OptionsPositions.tsx
  src/app/components/Portfolio/Position/PositionEdit.tsx
  src/app/components/Portfolio/Position/PositionShow.tsx
  src/app/components/Portfolio/Position/PositionsTable.tsx
  src/app/components/Portfolio/Position/loaders.ts
  src/app/components/Portfolio/Setting/SettingEdit.tsx
  src/app/components/Portfolio/Setting/SettingShow.tsx
  src/app/components/Portfolio/Setting/SettingsTable.tsx
  src/app/components/Portfolio/Statement/StatementEdit.tsx
  src/app/components/Portfolio/Statement/StatementShow.tsx
  src/app/components/Portfolio/Statement/StatementsExport.tsx
  src/app/components/Portfolio/Statement/StatementsTable.tsx
  src/app/components/Portfolio/Trade/TradeEdit.tsx
  src/app/components/Portfolio/Trade/TradeShow.tsx
  src/app/components/Repository/Options/ShowOption.tsx
  src/app/main.tsx
  src/bots/importer.bot.ts
  src/routers/positions.router.ts
  src/routers/statements.utils.ts
  yarn.lock
Due: eslint --cache, prettier --write

Minor changes and improvements
  package.json
  src/app/components/ErrorBoundary.tsx
  src/app/components/Portfolio/Position/OptionsPositions.tsx
  src/app/components/Portfolio/Position/PositionEdit.tsx
  src/app/components/Portfolio/Position/PositionShow.tsx
  src/app/components/Portfolio/Setting/SettingEdit.tsx
  src/app/components/Portfolio/Statement/StatementEdit.tsx
  src/app/components/Portfolio/Trade/ClosedTradesTable.tsx
  src/app/components/Portfolio/Trade/OpenTradesTable.tsx
  src/app/components/Portfolio/Trade/TradeEdit.tsx
  src/app/components/Portfolio/Trade/TradeShow.tsx
  src/app/components/ui/select.tsx
  src/app/main.tsx
  src/index.ts
  src/server.ts
Due: eslint --cache, prettier --write

Lasy loading of routes implemented
  src/app/main.tsx
  src/app/routes.tsx
Due: eslint --cache, prettier --write

Packages upgrade
  .github/workflows/build.yml
  .github/workflows/check.yml
  package.json
  src/bots/yahoo.bot.ts
  src/routers/positions.router.ts
  yarn.lock
Due: eslint --cache, prettier --write

React upgrade
  package.json
  yarn.lock
Due: prettier --write

Bug fix
  src/app/components/ui/select.tsx
Due: eslint --cache, prettier --write

Packages upgrade
  package.json
  yarn.lock
Due: prettier --write

Import bug fix
  package.json
  src/app/components/Portfolio/Statement/StatementsExport.tsx
  src/bots/account.bot.ts
  src/bots/importer.bot.ts
  src/bots/index.ts
  src/bots/trader.bot.ts
  src/models/date_utils.ts
  src/routers/statements.utils.ts
  yarn.lock
Due: eslint --cache, prettier --write

import bug fix
  src/bots/importer.bot.ts
Due: eslint --cache, prettier --write

Portfolio performance export improved
  src/app/components/Portfolio/Statement/StatementsExport.tsx
Due: eslint --cache, prettier --write

bug fix when importing stock contract description with empty string as ISIN
  src/app/components/Portfolio/Report/links.ts
  src/app/components/Portfolio/Statement/links.ts
  src/bots/importer.bot.ts
  src/routers/contracts.utils.ts
Due: eslint --cache, prettier --write

backgroup tasks switched to node-cron
  eslint.config.mjs
  package.json
  src/bots/importer.bot.ts
  src/bots/index.ts
  src/bots/trader.bot.ts
  src/index.ts
  src/jobs/cashSecuredPutsStrategies.ts
  src/jobs/cashStrategy.ts
  src/jobs/coveredCallsStrategies.ts
  src/jobs/cronJob.ts
  src/jobs/index.ts
  src/jobs/optionChain.ts
  src/jobs/pricesUpdate.ts
  src/jobs/reportLoader.ts
  src/jobs/rollStrategies.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache, prettier --write

Packages upgrade
  package.json
  src/jobs/index.ts
  src/server.ts
  yarn.lock
Due: eslint --cache, prettier --write

lint fix
  package.json
  src/app/components/Portfolio/Balance/BalancesIndex.tsx
  src/app/components/Portfolio/Position/OptionsPositions.tsx
  src/app/components/Portfolio/Position/PositionsTable.tsx
  src/app/components/Portfolio/Report/ReportIndex.tsx
  src/app/components/Portfolio/Setting/SettingsTable.tsx
  src/app/components/Portfolio/Statement/StatementSummary.tsx
  src/app/components/Portfolio/Statement/StatementsExport.tsx
  src/app/components/Portfolio/Trade/ClosedTradesTable.tsx
  src/app/components/Portfolio/Trade/OpenTradesTable.tsx
  src/bots/yahoo.bot.ts
  yarn.lock
Due: eslint --cache, prettier --write

Packages upgrade
  AGENTS.md
  package.json
  yarn.lock
Due: prettier --write

Packages upgrade
  .github/workflows/build.yml
  .github/workflows/check.yml
  package.json
  yarn.lock
Due: prettier --write

Packages upgrade
  .gitignore
  package.json
  src/app/globals.d.ts
  tsconfig.server.json
  yarn.lock
Due: eslint --cache, prettier --write

Path conditions:
  eslint --cache: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,jsx,ts,tsx,css,html,json,md,mdx}
